<table class='mt-4 w-full'>
  <thead class='uppercase'>
    <tr>
      <th class='w-50% font-normal opacity-50 text-left'>Name</th>
      <th class='w-50% font-normal opacity-50 text-right'>Price</th>
    </tr>
  </thead>
  <tbody class='leading-normal'>
    {{#each currencies as |currency|}}
      <tr>
        <td>{{currency.name}}</td>
        <td class='text-right'>${{format-number currency.price precision=2}}</td>
      </tr>
    {{else}}
      <tr>
        <td>Loading...</td>
      </tr>
    {{/each}}
  </tbody>
</table>
